:root{
  --header-bgcolor: rgb(0, 0, 0);
  --header-color: rgb(255, 255, 255);
  --link-hover: rgb(0, 255, 242);
  --footer-bgcolor: rgb(0, 0, 0);
  --footer-color: rgb(255, 255, 255);
  --button-bgcolor: rgb(43, 43, 43);
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 16px;
  text-align: left;
}
body {
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
}
#root{
  width: 100%;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.App {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
h1{
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: -2px;
}
main{
  flex-grow: 1;
}
header, footer, main{
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}
main.coolbg{overflow: hidden;}
.headerContainer,.container,
.footerContainer {
  width: 90%;
  max-width: 1200px;
}
button{
  cursor: pointer;
}
button:hover{
  transform: scale(1.05);
}

/*Working on Header*/
.headerContainer{
  display: grid;
  align-items: center;
  gap: 1rem;
  padding: 1rem 0;
}
.headerContainer div{
  display: flex;
  justify-content: left;
  align-items: center;
}
.headerContainer .logo {
  display: inline-block;
  height: 100px;
  width: 100px;
}
/*NavPartStarts*/
.headerContainer nav ul{
  padding:1rem;
  background-color: var(--header-bgcolor);
  list-style: none;
  display: flex;
  gap: 2rem;
  font-size: 1.1rem;
}
.headerContainer nav ul .navOpt{
  color: var(--header-color);
  text-decoration: none;
}
.headerContainer nav ul .navOpt:hover{
  color: var(--link-hover);
}
/*Header Done*/


/*Working on Footer*/
footer{
  background-color: var(--footer-bgcolor);
  color: var(--footer-color);
  padding: 2rem 0;
}
.footerContainer{
  display: grid;
  align-items: center;
  gap: 1rem;
}
.footerContainer div {
  display: grid;
  gap: 5rem;
  grid-template-columns: auto 1fr;
}
.footerContainer li{
  color: rgb(177, 177, 177);
  margin-top: 0.5rem;
  list-style: none;
}
.footerContainer ul.outerList{
  display: flex;
  gap: 2rem;
}
.footerContainer p.bottomWriting{ text-align: right;}
.footerContainer p >p{margin-top: 10px;}
.footerContainer #icon{margin-left: 10px; color: var(--link-hover);}
.footerContainer #icon:hover{transform: scale(2);}
footer .f_logo{width: 100px; height: 100px;}
footer .f_logo #back-text{fill: white;}
footer .f_logo #text{fill: rgb(0, 0, 0);}
/*Footer Done*/


/*Update (Form Page)*/
.container.coolbg{
  margin: 1rem;
}
.formContainer{
  max-width: 500px;
  padding: 2rem;
  background-color: var(--footer-color);
  margin: 2rem auto;
  display: grid;
  gap: 2rem;
}
.addItemForm input,
.addItemForm label{
  width: 100%;
  text-align: left;
  text-transform: capitalize;
}
.formContainer .addItemForm input{
  padding: 0.5rem;
  min-height: 48px;
  border: 1px solid black;
  border-radius: 5px;
  margin-bottom: 1.1rem;
}
.formContainer .addItemForm label{display: inline-block; margin-bottom: 0.2rem;}
.formContainer .addItemForm button{
  width: 100%;
  min-height: 48px;
  padding: 0.5rem;
  text-transform: uppercase;
  background-color:rgb(88, 88, 88);
  color: white;
  border: none;
  border-radius: 5px;
}
.formContainer .addItemForm button:hover{
  color: var(--link-hover);
  font-weight: 700;
  background-color: var(--button-bgcolor);
}
/*Update Form Part Done*/


/*Home Part*/
.homeStuff{
  display: grid;
  padding: 2rem;
  gap: 1rem;
  grid-template-columns: 5fr 3fr;
}
.homeStuff .textStuff,.homeStuff .imageStuff{
  width: 100%;height: 100%;position: relative;
  padding: 2rem;
}
.homeStuff .textStuff::before{
  content: '';display: block;
  z-index: -1;position: absolute;
  background-color: gold; height: 100%;
  width: 100vw; top: 0; right: 0;
}
.homeStuff .imageStuff::before{
  content: '';display: block;
  z-index: -1;position: absolute;
  background-color: rgb(0, 224, 224);height: 100%;
  width: 100vw;top: 0;left: 0;
}
/*-----Home Layout done----*/

/*Home Contents*/
.homeStuff h2{
  font-size: 3.8rem;
  text-transform: uppercase;
  font-weight: 500;
}
.homeStuff h2 span{
  font-size: 4rem;font-weight: 700;
  letter-spacing: -4px;
}
.homeStuff p{
  margin: 2rem 0; text-align: justify;
}
.homeStuff button{
  width: 200px;
  min-height: 48px;
  padding: 0.5rem;
  font-size: 1.1rem; font-weight: 700;
  background-color: black; color: white;
  border: none; border-radius: 5px;
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.3);
}
/*----------------------------*/

/*Image Stuff*/
.homeStuff .imageStuff{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
}
.homeStuff .imageStuff img{
  width: 100%;
  cursor: pointer;
}
.homeStuff .imageStuff img:hover{
  transform: scale(1.2);
}