:root{
    --menu-title-color: rgb(35, 38, 58);
    --cat-opt-selected: rgb(0, 0, 0);
}

.menu.container{
    padding: 2rem 0;
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 3rem;
}

/*Search Options*/
.SearchOptions{
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr;
}
.SearchOptions .menuTitle{
    display: inline-block;
    text-align: center;
    justify-self: center;
}
.SearchOptions .menuTitle h2{
    font-size: 2rem;
    color: var(--menu-title-color);
}
.SearchOptions .menuTitle .underline{
    margin-top: 0.3rem;
    width: 80%; height: 5px;
    margin: 0 auto;
    background-color: gold;
}
/*Working on Category options*/
.SearchOptions .CategorySearch{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 1.5rem;
}
.SearchOptions .CategorySearch button{
    font-size: 1.2rem;
    text-transform: capitalize;
    background: none;border: none;
}
.SearchOptions .CategorySearch button:hover{
    transform: scale(1.2);
}
.SearchOptions .CategorySearch button.selected{
    font-weight: 700;
}
/*Working on sub category search*/
.SearchOptions .subcatNsearch{
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
    justify-content: center;
}
.SearchOptions .SubCategory{
    min-height: 25px;
    padding: 0.5rem 1rem;
    border: 2px solid rgb(119, 119, 119);
    border-radius: 5px;
    max-width: 300px;
    text-transform: capitalize;
}
.SearchOptions .subcatNsearch input{
    min-height: 25px;
    padding: 0.5rem 1rem;
    border: 2px solid rgb(119, 119, 119);
    border-radius: 5px;
    max-width: 300px;
}
/*---Search Options Done---*/


/*Menu List Display*/
.menuItemList{
    justify-self: center;
    padding: 2rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
    gap: 2rem;
}

.menuItemList .MenuItem{
    padding: 1rem;
    width: 40%;
    max-width: 400px;
    display: grid;
    grid-auto-flow: column;
    justify-content: left;
    align-items: center;
    gap: 1rem;
    background-color: rgb(233, 233, 233);
    border-radius: 5px;
}
.menuItemList .MenuItem img{
    width: 200px; height: 150px;border-right: 5px solid gold;
}
.menuItemList .MenuItem .itemLink{
    display: block;
    text-decoration: none;
    text-align: left;
    color: black;
    text-transform: capitalize;
    padding: 1rem;
    border-radius: 2px;
}
.menuItemList .MenuItem .itemLink:hover{
    font-weight: 700;
    background-color: rgb(194, 255, 235);
}
/*Menu Item Page*/
.container.menuItemPage{
    padding: 2rem 4rem;
}
.container.menuItemPage .linkToMenu{
    color: rgb(0, 0, 0);
    text-decoration: none;
}
.container.menuItemPage .icon{
    position: relative;
    width: 200px;
    min-height: 50px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
    cursor: pointer;
    border-radius: 50px;
    background-color: rgba(240, 248, 255, 0.7);
}
.container.menuItemPage .icon:hover{
    background-color: aliceblue;
    box-shadow: 0 0 20px 10px rgba(94, 94, 94, 0.5);
    animation: menuGoto 2s infinite;
}
/*Go to menu animation*/
@keyframes menuGoto {
    0% {left: 0px; top: 0px;}
    50% {left: -20px; top: 0px;}
    100% {left: 0px; top: 0px;}
}
/*------------------------*/
.container.menuItemPage .icon #arrow{
    font-size: 2rem;
}
/*----------------*/

/*Menu Item page the table*/
.container.menuItemPage article.MenuItem{
    margin: 0 auto;
    max-width: 400px;
    display: grid;
    gap: 2rem;
    padding: 0 2rem;
}
.container.menuItemPage article.MenuItem table{
    padding: 1rem;
    background-color: aliceblue;
    border-radius: 10px;
    text-transform: capitalize;
}
.container.menuItemPage article.MenuItem table th{
    font-size: 1.8rem;
    text-transform: capitalize;
    text-align: center;
    padding-bottom: 1rem;
}
.container.menuItemPage article.MenuItem table td.title{
    font-size: 1.1rem;
    font-weight: 700;
}
/*Table Done*/

/*On to the buttons*/
.container.menuItemPage article.MenuItem div.buttons{
    display: grid;
    gap: 0.5rem;
}
.container.menuItemPage article.MenuItem .buttons button{
    min-height: 30px;
    pad: 0.5rem 1rem;
    background-color: rgb(74, 105, 95);
    color: white;
    font-size: 1rem;
    border: none;
    border-radius: 3px;
}
.container.menuItemPage article.MenuItem .buttons button:hover{
    color: rgb(91, 244, 255);
}